.idea/
*.iml

.terraform/
.terraform.lock.hcl

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.pem
*.key

*.log
*.tmp
.DS_Store
Thumbs.db

structure.txt
